<div class="page-header">
    <h1>Családi TODO</h1>
</div>

<p>
    Csak regisztrált családtagok számára.
    {{#if loggedIn}}
    <li><a href="/todos/list">Lista mutatása</a></li>
    {{else}}
    <li><a href="/login">Jelentkezz be!</a></li>
    {{/if}}
</p>
